body{
    margin:  0;
}

.windows {
    height: 800px;
    background: #888888;
    display: flex;
    flex-direction: column;
}

.widget {
    background-color: blue;
    margin: 10px 40px 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.txt{
    font-size: 40px;
}
