h1{
   background: #123456;
   color: #543212
}
h2{
   background: #217546;
   color: #432212
}
p{
   background: #888888;
   color: #123123
}
ul{
   background: #987654;
   color: #587521
}
li{
   background: #213123;
   color: #543212
}